*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --white-color: #fff;
    --red-color: #c10016;
}
body {
    font-family: sans-serif;
    height: 100vh;
}
header {
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10; */
}
.header__navbar {
    background-color: var(--red-color);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .header__navbar img {
    width: 100%;
    height: 80px;
    position: relative;
} */
.header__navbar-form {
     margin-left: 129px;
     position: relative;
    /* background-color: #cccccc;
    padding: 8px;
    border-radius: 4px;  */
}

.header__navbar-login {
    text-decoration: none;
    padding: 8px;
    border: 2px solid #dcdcdc;
    border-radius: 18px;
    font-size: 1.2rem;
    color: black;
    margin-right: 12px;
    transition: 0.4s;
    background-color: #dcdcdc;
    cursor: pointer;
}
.header__navbar-login:hover {
    background-color: #3b6994;
    color: var(--white-color);
}
.header__navbar-sign:hover {
    background-color: #3b6994;
    color: var(--white-color);
}
.header__navbar-sign {
    text-decoration: none;
    padding: 8px;
    border: 2px solid #dcdcdc;
    border-radius: 18px;
    font-size: 1.2rem;
    color: black;
    margin-right: 12px;
    transition: 0.4s;
    background-color: #dcdcdc;
    cursor: pointer;
}
.hiden {
    display: none;
}
.header__navbar-log:hover {
    color: var(--white-color);
    cursor: pointer;
}
.header__navbar-search {
    background-color: var(--white-color);
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    
}
.header__navbar-search input {
    height: 40px;
    border: none;
    outline: none;
    padding-left: 4px;
    width: 254px;
}
.header__navbar-button {
    font-size: 1.2rem;
    border: none;
    outline: none;
    height: 40px;
    background-color: yellow;
    line-height: 40px;
    padding: 0px 11px;
    cursor: pointer;
}
.header__navbar-button-icon {

}
.header__navbar-cart {
    margin-right: 129px;
    color: var(--white-color);
    position: relative;
}
.header__navbar-cart i span {
    position: absolute;
    background-color: red;
    font-size: 0.5rem;
    padding: 6px;
    border-radius: 12px;
    top: -12px;
    left: 17px;
}
.header__navbar-cart-icon {
    font-size: 1.3rem;
    margin-right: 5px;
    cursor: pointer;
}
.header__navbar-price {
    font-size: 1.2rem;
    margin-left: 5px;
}
.header__category {
    background-color: #dcdcdc;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .active {
    border-bottom: 2px solid var(--red-color);
    height: 3px;
} */
.header__category-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /* color: black; */
}
.header__category-item {
    margin: 0 15px;
    position: relative;
    padding: 18px 11px;
}
.header__category-item:hover {
    background-color: #888;
}
.header__category-item a{
    text-decoration: none;
    font-weight: 550;
    /* padding: 19px 11px; */
    color: black;

}
.subnav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    list-style-type: none;
    width: 160px;
    display: none;
}
.header__category-item:hover .subnav {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.subnav__item a {
    list-style-type: none;
    font-size: 0.7rem;
    color: #888;
    font-weight: 300;
    padding: 10px;
    display: block;
}

/* Modal__login */
.modal__login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    
}
.modal__innner {   
    display: flex;  
}
form {
    background-color: var(--white-color);
    width: 600px;
    margin: 100px auto;
    justify-content: center;
    position: relative;
    padding: 20px;
}
form img {
    width: 150px;
    height: 150px;
    border-radius: 76px;
    margin: 30px 225px;

}
.modal__container {
    margin: 35px 15px;
}
.modal__container h2 {
    font-size: 1.2rem;
    color: black;
}
.modal__container > input {
    height: 35px;
    outline: none;
    font-size: 1.2rem;
    margin: 15px 0;
    width: 100%;
    padding-left: 15px;
}
.modal__container > button {
    display: block;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 10px;
    background-color: #04aa6d;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}
.modal__container label {
    display: flex;
}
.modal__can {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.modal__can-button {
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 10px;
    background-color: var(--red-color);
}
.modal__can a {
    display: flex;
    text-decoration: none;
    color: #333;
    padding: 10px;
}
.modal__can a p {
    color: #2478ba;
}
.modal__icon-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.3rem;
    cursor: pointer;
}
.hide {
    display: none;
}

/* modal__sign */
.modal__sign {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
form {
    /* margin: 20px; */
}
form h1 {
    font-size: 1.3rem;
    margin: 20px 0;
    text-align: center;
}
form h2 {
    font-size: 1.2rem;
    color: black;
}
form > input {
    height: 35px;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding-left: 15px;
    margin: 10px 0;
}
.modal__sign-footer {
    margin: 15px 0;
}
.modal__sign-footer a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 111px;
    background-color: var(--red-color);
    color: var(--white-color);
}
.modal__sign-footer button {
    border: none;
    outline: none;
    padding: 10px 101px;
    background-color: #04aa6d;
    color: var(--white-color);
    font-size: 1.2rem;
}
/* content */
.content {
    background-color: #efe4d3;
}
.content__image {

}
.content__image img {
    width: 100%;
}
.content__showslide {
    display: flex;
}
.content__image-slide {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.content__image-img {
    width: 100%;
}
/* .content_img {
    width: 280px;
    height: 230px;
} */
.hide {
    display: none;
}
.control {
    border: none;
    outline: none;
    /* position: absolute; */
}
.prev {
    position: absolute;
    top: 50%;
    left: 20px;
    padding: 5px;
    font-size: 2rem;
    font-weight: 900;
    color: #888;
    cursor: pointer;
}
.next {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 5px;
    font-size: 2rem;
    font-weight: 900;
    color: #888;
    cursor: pointer;
}
.product__price {
    
    margin-top: 30px;
}
.product {
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.product::-webkit-scrollbar {
    display: none;
}
.product__price > h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--red-color)
    
}
.prev__btn {
    position: absolute;
    top: 50%;
    left: 35px;
    font-size: 1.4rem;
    border: none;
    outline: none;
    padding: 10px 6px;
    font-weight: 600;
    opacity: 0.7;
    z-index: 10;
}

.product__price-list h4 {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 4px;
    font-size: 0.8rem;
    background-color: #cccccc;
    border-radius: 5px;
    opacity: 0.8;
    color: var(--white-color);
}
.prev__btn:hover,
.next__btn:hover {
    opacity: 1;
    cursor: pointer;
}
.next__btn {
    position: absolute;
    top: 50%;
    right: 35px;
    font-size: 1.4rem;
    border: none;
    outline: none;
    padding: 10px 6px;
    font-weight: 600;
    opacity: 0.7;
    z-index: 10;
}
.product__price-list {
    background-color: var(--white-color);
    position: relative;
}
.product__price-img {
    width: 100%;
}
.product__price-list h3 {
    font-size: 1rem;
    color: var(--red-color);
    margin-top: 3px;
    padding-left: 7px;
    font-weight: 300;
}
.product__price-list span {
    font-size: 1rem;
    margin-top: 3px;
    padding-left: 7px;
    font-weight: 300;
}
.price {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.price i {
    color: red;
    padding-left: 7px;
}
.price span {
    font-size: 1rem;
    padding-right: 7px;

}
.product__btn {
    opacity: 0;
    margin: 8px 10px;
    border: none;
    outline: none;
    background-color: var(--red-color);
    padding: 8px 11px;
    margin-left: 21px;
    border-radius: 5px;
    color: var(--white-color);
    transition: 0.5s;
    cursor: pointer;
}
.product__price-list:hover .product__btn {
    opacity: 1;
    box-shadow: -1px 6px 19px rgb(193 0 22 / 20%) !important;
}
/* product__detail */
.product__detail {
    display: flex;
    margin-top: 40px;
}
.product__detail .product__detail-item {
    width: 700px;
    border: 3px solid var(--red-color);
    background-color: var(--white-color);
}
.product__detail-item > span {
    padding: 27px;
    display: block;
    border-bottom: 1px solid #888;
    font-size: 1.2rem;
    color: var(--red-color);
}
.product__detail-strong {
    display: flex;
    margin: 22px 0;
}
.product__detail-strong .product__detail-img {
    width: 280px;
    margin-left: 60px;
}
.product__detail-detail {
    margin-left: 60px;
}
.product__detail-detail h3 {
    font-size: 1.2rem;
}
.product__detail-detail > h4 {
    font-size: 0.8rem;
    font-weight: 100;
    margin-top: 35px;
}
.product__detail-price {
    display: flex;
    margin-top: 20px;
}
.product__detail-price > h5 {
    font-size: 1rem;
    opacity: 0.8;
    font-weight: 100;
    text-decoration: line-through;
}
.product__detail-price span {
    font-size: 1.2rem;
    color: var(--red-color);
    margin-left: 5px;
}
.product__detail-lost {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.product__detail-lost span {
    font-size: 1.1rem;
}
.product__detail-lost h4 {
    font-size: 1.1rem;
    margin-left: 52px;
    color: var(--red-color);

}
.product__list {
    margin-left: 30px;
    width: 480px;
    height: 500px;
    overflow-y: auto;
    scroll-snap-type: y;
    border: 2px solid var(--red-color);
}
.product__list h2 {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
    font-size: 1.2rem;
    color: var(--white-color);
    padding: 15px;
    background-color: var(--red-color);
    text-align: center;
    font-weight: 200;
}
.product__category {
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
    
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
.product__category-list {
    list-style-type: none;
}
.product__category-item {
    padding: 15px;
   
}
.product__category-item:hover {
    background-color: #cccccc;
}
.product__category-link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.product__category-item img {
    width: 144px;
    height: 145px;
    object-fit: cover;
    border-radius: 4px;
}
.product__category-name {
    

}
.product__category-name span {
    color: var(--red-color);
    padding: 25px 30px 25px 30px;
    display: block;
}
.product__category-name h3 {
    color: yellowgreen;
    font-size: 1.2rem;
    padding-right: 10px

} 
.product__hightlight {
    margin-top: 60px;
}
.product__hightlight-category {
    
}
.product__hightlight-list {
    display: flex;
    list-style-type: none;
}
.product__hightlight-item {
    margin:  10px;
}
.product__hightlight-link {
    font-size: 1.1rem;
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
}
.active {
    border-bottom: 3px solid var(--red-color);
}
.color {
    color: var(--red-color);
}
.product__hightlight-product {
    margin-top: 40px;
}
.product__hightlight-detail {
    position: relative;
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.product__hightlight-detail:hover {
    box-shadow: 0px 8px 32px 0px rgb(0 0 0 / 10%);
}
.product__hightlight-detail img {
    width: 295px;
    height: 130px;
    object-fit: contain;
    margin-top: 36px;
}
.product__hightlight-detail > h2 {
    font-size: 0.8rem;
    color: #888;
    padding: 10px 10px 5px 10px;
}
.product__hightlight-strong {
    display: flex;
    
}
.line {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}
.product__hightlight-strong > h2 {
    font-size: 0.8rem;
    padding: 25px 10px 5px 10px;
    opacity: 0.7;
}
.product__hightlight-strong h5 {
    font-size: 0.8rem;
    padding: 25px 10px 5px 10px;
    margin-bottom: 30px;
}
.product__hightlight-footer {
    display: flex;
    justify-content: space-between;
}
.product__helight-price {
    padding-left: 10px;
    font-size: 1.2rem;
    color: var(--red-color);
    padding: 10px;
    margin: 10px;
}
.product__hightlight-footer-icon {
    font-size: 1.2rem;
    color: var(--white-color);
    padding: 10px;
    background-color: var(--red-color);
    margin: 10px;
    border-radius: 21px;
    /* box-shadow: -1px 6px 19px rgb(193 0 22 / 20%) !important; */
}
.product__hightlight-footer-icon:hover {
    cursor: pointer;
    box-shadow: -1px 6px 19px rgb(193 0 22 / 20%) !important;
}
.product__icon-icon {
    position: absolute;
    background-color: var(--white-color);
    border-radius: 8px;
    /* border: 1px solid #cccccc; */
    box-shadow: 0px 8px 32px 0px rgb(0 0 0 / 10%);
    top: 19px;
    left: 8px;
}
.product__hightlight-icon i{
    padding: 5px 7px;
    cursor: pointer;
}


/* product--footer */
.product__footer {
    padding-top: 50px;
    background-color: var(--red-color);
}
.product__footer-list {
    position: relative;
    margin-bottom: 30px;
}
.product__footer-strong {
    border-bottom: 2px solid #fff;
    margin-top: 30px;
    display: block;
}
.product__footer-list h2 {
    color: var(--white-color);
    font-size: 1.2rem;
}
.product__footer-name {
    
    border-bottom: 3px solid #000; 
    padding: 15px 15px 15px 0;
}
.product__footer-des {
    padding-top: 15px;
}
.product__footer-item {
    display: flex;
   
}
.product__footer-item i {
    padding: 15px 5px 0 0;
}
.product__footer-item a {
    text-decoration: none;
    padding: 15px 15px 10px 0;
    color: #000;
}
/* .product__footer-item:hover > a {
    color: var(--white-color);
} */
.product__footer-icon {
    padding-top: 15px;
    text-decoration: none;
}
.product__footer-icon a {
    text-decoration: none;
}
.product__footer-icon-face {
    padding: 8px;
    font-size: 1.7rem;
    color: #3a589d;
}
.product__footer-icon-insta {
    padding: 8px;
    font-size: 1.7rem;
    color: #3b6994;
}
.product__footer-icon-twiter {
    padding: 8px;
    font-size: 1.7rem;
    color: #2478ba;
}
.product__footer-icon-printer {
    padding: 8px;
    font-size: 1.7rem;
    color: #cb2320;
}
.product__footer-icon-rss {
    padding: 8px;
    font-size: 1.7rem;
    color: #fc7600;
}
.product__footer-end {
    display: flex;
    padding: 30px;
}
.product__footer-end p {
    font-size: 1.3rem;
    color: var(--white-color);
    padding-right: 25px;
}
.producut__email {
    background-color: var(--white-color);
    height: 40px;
    margin-right: 30px;
    border-radius: 4px;
    overflow: hidden;
}
.producut__email input {
    height: 40px;
    font-size: 1.2rem;
    outline: none;
    border: none;
}
.producut__email button {
    outline: none;
    border: none;
    font-size: 1,2rem;
    padding: 15px;
    background-color: #fc7600;
    height: 40px;
}
.product__footer-end img {

}